<html>
  <head>
    <title>Actividades Mujeres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
    	
    </script>
  </head>
  <body>
  	<div class="container">
      <br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="card">
            <div class="card-header bg-success text-center text-white">
              <h4> ACTIVIDADES DEL HOGAR POR GÉNERO</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center bg-warning">
                <div class="row">
                  <div class="col-4"><h6>ACTIVIDAD</h6></div>
                  <div class="col-4"><h6>No. MUJERES</h6></div>
                  <div class="col-4"><h6>No. HOMBRES</h6></div>
                </div>
              </li>              
              <% for(var a in actividades){ %>
              <li class="list-group-item text-center bg-white">
                <div class="row">
                  <div class="col-4"><%= actividades[a] %></div>
                  <div class="col-4"><h6><%= actividadesMujeres[a] %></h6></div>
                  <div class="col-4"><h6><%= actividadesHombres[a] %></h6></div>
                </div>
              </li>
              <% } %>              
            </ul>
          </div>
        </div>
        <div class="col-3"></div>
    </div>
    <br>
    <div class="text-center">
	    <a href="/" type="submit" class="btn btn-primary">Regresar a Formularios</a>
    </div>	
  </div>
  </body>
</html>